<div class="container-fluid mt-2">
    <div class="row m-3">
        <h1>Log viewer</h1>
    </div>

    <div class="row m-3">
        <div class="alert alert-warning mr-2">Auto refresh active</div>
        <div id="blinker" style="display: none;" class="alert alert-success">Refresh!</div>
        <div class="ml-auto"></div>
        <div class="form-group ml-2">
            <label for="refreshTime">Seconds between refreshes of data:</label>
            <input id="refreshTime" type="number" class="mr-3 form-control" [(ngModel)]="refreshTime" />
        </div>
        <div id="clear" (click)="clearLogs()" class="alert alert-danger ml-2">Click to clear logs</div>
    </div>

    <div style="display: none;" id="error" class="alert alert-danger m-3 row"></div>

    <div class="row">
        <input class="form-control col-6 m-2" type="text" id="myInput" (keyup)="search()" placeholder="Search to filter..">
        <select class="form-control col-2 mt-2" id="mySelect" (change)="setColumn($event.target.value)">
            <option *ngFor="let column of columns; let i = index" value="{{i}}">{{column}}</option>
        </select>
    </div>

    <div class="row">
        <table id="myTable" class="table m-2">
            <tr class="header">
                <th *ngFor="let column of columns">
                    {{column}}
                </th>
            </tr>
            <tr *ngFor="let log of logs">
                <td *ngFor="let column of columns">
                    {{log[column]}}
                </td>
            </tr>
        </table>

        <div class="m-3" *ngIf="logs.length === 0">
            <h2>There are no logs available!</h2>
        </div>

    </div>
